@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
body{
    overflow-y: scroll;
    overflow-x: hidden;
}
:root,body,html{
    background-color: rgb(242, 248, 248);
    box-sizing: border-box;
}
